RewriteEngine on
RewriteRule .htaccess - [F]

RewriteBase /
RewriteCond %{REQUEST_URI} =""
RewriteRule ^(.)$ index.php1/defaultController/defaultAction/param1 [QSA,L]

RewriteCond %{HTTP_USER_AGENT} ^Mozzila.*
RewriteRule ^(.*)$ index1.php [QSA,L]

RewriteCond %{HTTP_USER_AGENT} ^Google.*
RewriteRule ^(.*)$ index2.php [QSA,L]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]

RewriteRule regex.php - [F]