RewriteEngine on
RewriteRule .htaccess - [F]
#RewriteRule index\w+\.php - [F]
RewriteBase /

# RewriteCond %{REQUEST_URI} ^\s$
# RewriteRule ^(.*)$ index1.php [QSA,L]

# RewriteCond %{HTTP_USER_AGENT} ^Mozzila.*
# RewriteRule ^(.*)$ index1.php [QSA,L]
# RewriteCond %{HTTP_USER_AGENT} ^WebKit.*
# RewriteRule ^(.*)$ index2.php [QSA,L]


#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(\w+)\/?(\w+)?\/?([\/\w])*$ index.php [QSA,L]

#RewriteRule ^[^i]?[^n]?[^d]?[^e]?[^x]?[^\.]?[^p]?[^h]?[^p]?(.*)$ index.php?cont=defaultController&act=defaultAction&p1=param1&p2=param2 [QSA,L]


#RewriteLog "/usr/local/var/apache/logs/rewrite.log"